:root {
  --clr-cream: #f2e8e6;
  --clr-brown: #90604c;
  --clr-brownlight: #90604c4d;
  --running-font-size: 16px;
  --heading-font-size: 24px;
  --border-radius: 0.5em;
}
body {
  margin: auto 0;
  height: 100%;
  width: 100%;
  font-family: "Harmattan", sans-serif;
  font-size: var(--running-font-size);
  color: var(--clr-brown);
}

a:link {
  color: var(--clr-brown);
  text-decoration: none;
}

a:visited {
  color: var(--clr-brown);
}

#header {
  grid-area: header;
  position: fixed !important;
  width: 100%;
  top: 0;
  background-color: var(--clr-cream);
}

#header > ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  padding: 1em;
  color: white;
}

#header > ul > li {
  padding-left: 2em;
}

#header > ul > li:nth-child(7) {
  margin-left: auto;
  margin-right: 16em;
  font-size: 16pt;
}

#header > ul > li:nth-child(7)::after {
  content: " ";
  height: 2px;
  width: 16rem;
  background: var(--clr-brown);
  display: block;
  position: absolute;
  right: 4em;
}


@media only screen and (min-width: 970px) {
  #header {
    position: fixed !important;
  }
}

@media only screen and (max-width: 1100px) {
  #header {
    position: fixed !important;
  }
  #header > ul > li:nth-child(2) {
    position: relative;
    margin-right: auto;
    font-size: 14px;
  }
}
@media only screen and (max-width: 970px) {
  #header {
    position: fixed !important;
    width: 100vw;
    height: 6em;
    top: 0;
    background-color: var(--clr-cream);
    flex-wrap: nowrap;
  }

  #header > ul {
    list-style: none;
    width: 100vw;
    height: 2em;
    color: white;
    background-color: var(--clr-cream);
  }

  #header > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #header > ul > li:nth-child(1) {
    padding: right 0;
    padding-left: 1em;
  }

  #header > ul > li:nth-child(2) {
    padding-right: 0;
    font-size: 12px;
    margin-right: auto;
    position: relative;
  }

  #header > ul > li:nth-child(3) {
    display: none;
  }
  #header > ul > li:nth-child(4) {
    display: none;
  }
  #header > ul > li:nth-child(5) {
    display: none;
  }
  #header > ul > li:nth-child(6) {
    display: none;
  }
  #header > ul > li:nth-child(7) {
    padding: 2em;
    position: relative;
    margin-right: 0;
  }
  #header > ul > li:nth-child(7)::after {
    display: none;
    position: relative;
    margin-left: 100em;
    overflow: hidden;
  }
}
@media only screen and (max-width: 480px) {
  #header > ul {
    display: flex;
    align-content: space-between;
  }
  #header > ul > li:nth-child(2) {
    margin-right: auto;
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  #header > ul > li:nth-child(2) {
    font-size: 10px;
    line-height: 2em;
  }
}

#sidebar {
  /*Navigation code provided by Codegrid on YouTube*/
  position: fixed !important;
  top: 6em;
  width: 22em;
  height: 100%;
  background: var(--clr-cream);
  left: -22em;
  transition: 0.5s;
}

#sidebar > ul {
  font-size: 24px;
  list-style: none;
}

#sidebar.active {
  left: 0;
}

.toggle-menu {
  cursor: pointer;
}

.xtra-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  padding-left: 0;
  padding-top: 1em;
  margin: auto;
}

@media only screen and (min-width: 970px) {
.xtra-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  display: none;
  align-self: center;
  padding-left: 0;
  padding-top: 1em;
  margin: auto;
}
}


body {
  margin-top: 6em;
}

#hero {
  display: flex;
}

.left-side {
  margin: 2em;
  width: 100%;
  height: 550px;
  /* border-radius: 10px; */
  animation: slide-right 1s ease-in;
  animation-delay: 1s;
}

#hero .right-side {
  animation: slide-left 1s ease-in;
  animation-delay: 1s;
}

@keyframes slide-left {
  from {
    margin-right: 700px;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    margin-left: -700px;
  }
  to {
    margin-left: 0%;
  }
}

#hero .right-side p {
  width: 1.25fr;
  margin-left: 0.7em;
  margin-top: 1.5em;
}

#hero .right-side h2 {
  width: 1.25fr;
  margin-left: 1.5em;
  margin-top: -0.8em;
  margin-right: 2em;
}

.icons {
  display: grid;

  grid-template-columns: repeat(3, 7em);
  color: black;
  width: 350px;
  height: 140px;
  font-family: harmattan;
  font-size: 12pt;
  text-align: center;
  line-height: 1em;
  margin-top: -18em;
  /* margin-bottom: -1em; */
  background-color: #f2e8e6;
  margin-left: 926px;
  /* border-radius: 10px; */
}

.h1 {
  font-family: harmattan;
  font-size: 36pt;
  font-weight: 600;
  color: #90604c;
  margin-top: 0.8em;
  line-height: 1em;
  margin-bottom: 0.5em;
  padding-right: 0em;
}

h2 {
  font-family: harmattan;
  font-size: 18pt;
  font-weight: 100;
  line-height: 1.3em;
  margin-bottom: -0.5em;
  color: black;
}

.buyy {
  display: absolute;
  text-transform: uppercase;
  font-size: 20pt;
  background-color: #f2e8e6;
  font-family: harmattan;
  width: 250px;
  height: 50px;
  margin-left: 0px;
  margin-top: 1.1em;
  /* border-radius: 10px; */
}

#main {
  display: grid;
  grid-template-columns: 2fr 1.25fr;
  grid-gap: 1em;
  padding-right: 0.5em;
  padding-bottom: 2.5em;
  margin-top: 7em;
}

li {
  color: black;
}

.ingredientsmuffin {
  font-size: 16pt;
  font-family: harmattan;
}

.ingredients {
  font-size: 16pt;
  font-family: harmattan;
  padding: 0em;
  margin-left: 2em;
}

.frostinglist {
  font-size: 16pt;
  font-family: harmattan;
}

.container2 {
  background-color: #f2e8e6;
  padding: 1.5em;
  font-family: harmattan;
  font-size: 24pt;
  margin-top: 1.6em;
  margin-right: 1em;
  /* border-radius: 10px; */
}
.container {
  margin-left: 2.5em;
  margin-top: 1.8em;
  width: 815px;
}

h4 {
  font-family: harmattan;
  font-size: 26pt;
  color: #90604c;
  margin-bottom: -0.5em;
}

.muffinslist {
  font-size: 16pt;
  font-family: harmattan;
}

h5 {
  font-family: harmattan;
  font-size: 26pt;
  color: #90604c;
  margin-left: 0.1em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

h6 {
  font-family: harmattan;
  font-size: 26pt;
  color: #90604c;
  margin-top: -0.5em;
  margin-bottom: -0.7em;
}

.frosting {
  font-family: harmattan;
  font-size: 26pt;
  color: #90604c;
  font-weight: 600;
  margin-bottom: -0.7em;
}
.heart {
  cursor: pointer;
  width: 40px;
  margin-top: 2.1em;
  margin-left: 160px;
}

#full {
  visibility: hidden;
}

i {
  margin-top: 1.6em;
}

@media screen and (max-width: 1350px) {
  #hero {
    display: flex;
    flex-direction: column;
  }
  .container2 {
    margin-left: 1em;
    margin-top: 0em;
  }
}

@media screen and (max-width: 1350px) {
  .left-side {
    width: 95%;
    height: auto;
    margin-bottom: -2em;
  }
  .heart {
    margin-left: 160px;
    margin-top: 2.2em;
  }
}

@media screen and (max-width: 1350px) {
  #hero .right-side h2 {
    width: 60%;
    margin-left: 2em;
  }
  #hero .right-side p {
    margin-left: 1em;
  }
  .icons {
    margin-top: -8em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 1350px) {
  #main {
    grid-template-columns: 1fr;
    margin-top: -1em;
  }
}

@media screen and (max-width: 1250px) {
  #main {
    margin-top: 2em;
  }

  #hero .right-side h2 {
    width: 90%;
    height: auto;
    margin-left: 1.7em;
  }

  #hero .right-side p {
    width: 100%;
    margin-left: 0.7em;
  }

  .icons {
    margin-left: 2em;
    margin-top: 3em;
  }
}

@media screen and (max-width: 850px) {
  .container2 {
    width: 85%;
  }
  .container {
    width: 95%;
    margin-bottom: 1em;
  }
  .left-side {
    width: 92%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .left-side {
    margin-left: 2em;
    width: 87%;
  }

  .container2 {
    width: 67%;
  }

  .container {
    width: 90%;
    margin-bottom: 1em;
  }
  #hero .right-side h2 {
    width: 80%;
  }
}

.footer {
  grid-area: footer;
  width: 100vw;
  height: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto 0;
  bottom: 0;
  background-color: var(--clr-cream);
}

.footer > ul {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 0em;
  padding-right: 0em;
}
