:root {
  --clr-cream: #f2e8e6;
  --clr-brown: #90604c;
  --clr-brownlight: #90604c4d;
  --running-font-size: 16px;
  --heading-font-size: 24px;
  --border-radius: 0.5em;
}

body {
  margin: auto 0;
  height: 100%;
  width: 100%;
  font-family: "Harmattan", sans-serif;
  font-size: var(--running-font-size);
}

a:link {
  color: var(--clr-brown);
  text-decoration: none;
}

a:visited {
  color: var(--clr-brown);
}

#header {
  grid-area: header;
  position: fixed !important;
  width: 100%;
  top: 0;
  background-color: var(--clr-cream);
}

#header > ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  padding: 1em;
  color: white;
}

#header > ul > li {
  padding-left: 2em;
}

#header > ul > li:nth-child(7) {
  margin-left: auto;
  margin-right: 16em;
  font-size: 16pt;
}

#header > ul > li:nth-child(7)::after {
  content: " ";
  height: 2px;
  width: 16rem;
  background: var(--clr-brown);
  display: block;
  position: absolute;
  right: 4em;
}

#sidebar {
  /*Navigation code provided by Codegrid on YouTube*/
  position: fixed !important;
  top: 6em;
  width: 22em;
  height: 100%;
  background: var(--clr-cream);
  left: -22em;
  transition: 0.5s;
}

#sidebar > ul {
  font-size: 24px;
  list-style: none;
}

#sidebar.active {
  left: 0;
}

.toggle-menu {
  cursor: pointer;
}

@media only screen and (min-width: 970px) {
  #header {
    position: fixed !important;
  }
}

@media only screen and (max-width: 1100px) {
  #header {
    position: fixed !important;
  }
  #header > ul > li:nth-child(2) {
    position: relative;
    margin-right: auto;
    font-size: 14px;
  }
}
@media only screen and (max-width: 970px) {
  #header {
    position: fixed !important;
    width: 100vw;
    height: 6em;
    top: 0;
    background-color: var(--clr-cream);
    flex-wrap: nowrap;
  }

  #header > ul {
    list-style: none;
    width: 100vw;
    height: 2em;
    color: white;
    background-color: var(--clr-cream);
  }

  #header > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #header > ul > li:nth-child(1) {
    padding: right 0;
    padding-left: 1em;
  }

  #header > ul > li:nth-child(2) {
    padding-right: 0;
    font-size: 12px;
    margin-right: auto;
    position: relative;
  }

  #header > ul > li:nth-child(3) {
    display: none;
  }
  #header > ul > li:nth-child(4) {
    display: none;
  }
  #header > ul > li:nth-child(5) {
    display: none;
  }
  #header > ul > li:nth-child(6) {
    display: none;
  }
  #header > ul > li:nth-child(7) {
    padding: 2em;
    position: relative;
    margin-right: 0;
  }
  #header > ul > li:nth-child(7)::after {
    display: none;
    position: relative;
    margin-left: 100em;
    overflow: hidden;
  }
}
@media only screen and (max-width: 480px) {
  #header > ul {
    display: flex;
    align-content: space-between;
  }
  #header > ul > li:nth-child(2) {
    margin-right: auto;
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  #header > ul > li:nth-child(2) {
    font-size: 10px;
    line-height: 2em;
  }
}

.img {
  float: left;
  margin-bottom: 2em;
  margin-left: 2em;
}

h3 {
  font-size: 16pt;
  color: #90604c;
}

h4 {
  color: #90604c;
  font-family: "Harmattan", sans-serif;
  font-size: 3rem;
  margin-left: 0.7em;
  margin-bottom: 0.4em;
}

h5 {
  font-size: 20pt;
  color: #90604c;
  margin-left: 1.2em;
  margin-bottom: -1em;
}

.item-1 {
  font-family: "Harmattan", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  line-height: 3rem;
  background-color: #90604c4d;
  color: #90604c;
  height: 7vh;
  width: 100%;
  margin-left: 2em;
  padding-left: 12em;
}
.stars {
  margin-top: 2em;
  margin-left: 475px;
}

.icon-1 {
  display: grid;

  grid-template-columns: repeat(3, 7em);
  width: 350px;
  height: 140px;
  font-family: harmattan;
  font-size: 18pt;
  text-align: center;
  line-height: 1em;
  margin-top: 1em;
  /* margin-bottom: -1em; */
  margin-left: 426px;
  /* border-radius: 10px; */
}

.item-2 {
  background-color: #90604c4d;
  height: 7vh;
  width: 100%;
  margin-left: 2em;
}

.item-2 a {
  font-family: "Harmattan", sans-serif;
  font-size: 2rem;
  color: #90604c;
  line-height: 3rem;
  padding-left: 0.5em;
}

.item-3 {
  font-family: "Harmattan", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  line-height: 3rem;
  background-color: #90604c4d;
  color: #90604c;
  height: 7vh;
  width: 100%;
  padding-left: 12em;
  margin-left: 2em;
}

.item-4 {
  font-family: "Harmattan", sans-serif;
  font-size: 2rem;

  line-height: 3rem;
  background-color: #90604c4d;
  color: #90604c;
  height: 7vh;
  width: 100%;
  margin-left: 2em;
  padding-left: 12em;
}

.item-5 {
  font-family: "Harmattan", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  line-height: 3rem;
  background-color: #90604c4d;
  color: #90604c;
  height: 7vh;
  width: 100%;
  margin-left: 2em;
  padding-left: 12em;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 1350px) {
  #container .item-1 {
    width: 60%;
  }

  /* .item-2 {
    width: 100%;
  }

  .item-3 {
    width: 100%;
  }

  .item-4 {
    width: 100%;
  }

  .item-5 {
    width: 100%;
  }

  .icon-1 {
    margin-top: -1em;
    margin-right: 4em;
  } */
}

.footer {
    grid-area: footer;
    width: 100vw;
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto 0;
    bottom: 0;
    background-color: var(--clr-cream);
  }
  
  .footer > ul {
    width: 100vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 0em;
    padding-right: 0em;
  }
  
  @media only screen and (max-width: 600px) {
    .footer {
      width: 120vw;
      margin: auto;
    }
    .footer > ul {
      padding-left: 1em;
      padding-right: 3em;
      margin: auto;
    }
  }
